
<div class="left">
  <app-channel-header
    [name]="profileService.currentUser.name"
    (goProfile)="onGoProfile()">
  </app-channel-header>
  <app-channel-list
    [channels]="chatService.channels"
    [channelId]="chatService.channel?._id"
    (selectChannel)="onSelectChannel($event)">
  </app-channel-list>
</div>

<div class="right">
  <app-chat-area-dialog
    [messages]="chatService.messages">
  </app-chat-area-dialog>
  <app-chat-area-bottom
    [channelId]="chatService.channel?._id"
    (sendMessage)="onSendMessage($event)">
  </app-chat-area-bottom>
</div>
